.ab {position: absolute;}

.red {background-color: #eb0202;
	width: 78%; height: 73%; left: 22%;}

.blue { background-color: #2146ad;
	width: 20%; height: 24%;
	top: 76%;}

.yellow {background-color: #ffd970;
		width: 12%; height: 10%;
		top: 90%; left: 88%;}

.black {background-color: black;}
.line1 {width: 2%; height: 100%; left: 20%;}
.line2 {width: 20%; height: 9%; 
		top: 24%;}
.line3 {width: 100%; height: 4%; 
		top: 72%; }
.line4 {width: 2%; height: 24%; 
		top: 76%; left: 88%;}
.line5 {width: 12%; height: 5%;
		top: 85%; left: 88%;}
